[server]
addr = "0.0.0.0:2333" # 后端运行地址
domain = "" # 指定 swagger 的 base url

[user]
LisenInterval = 3 # 刷新动态间隔时间

[email]
host = ''
port = 587
user = ''
passwd = ''
from = ''
to = ['']

[db]
type = 1 # 1: sqlit3 2: mysql
data = "./db/bilibot.db" # 打开数据库所需的字符串信息

[jwt]
secret = '' # jwt加密密钥