[server]
addr = "0.0.0.0"
port = 2333
domain = ""

[user]
RefreshTime = 3 # 刷新动态间隔时间

[cli]
mhid = '4BTGCg7un84hMHYoKdNVPao' # 草料二维码样式

[email]
host = ''
port = 587
user = ''
passwd = ''
from = ''
to = ['']

[db]
type = 1 # 1: sqlit3 2: mysql
data = "./db/bilibot.db" # 打开数据库所需的字符串信息

[jwt]
secret = '' # jwt加密密钥