[server]
addr = "127.0.0.1:2333" # 服务器运行地址

[uploader]
mid = 13424328 # up主uid
MessageHead = '' # 自定义回复消息首部
MessageTail = '' # 自定义回复消息小尾巴

[user]
RefreshTime = 10 # 刷新动态间隔时间

[cli]
mhid = '4BTGCg7un84hMHYoKdNVPao' # 草料二维码样式